@inherits LayoutComponentBase

<MyMudProviders />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudText Typo="Typo.h5" Class="ml-3">Wrap Around</MudText>
        <MudStack Row="true"
                  Spacing="0"
                  Justify="Justify.FlexStart"
                  AlignItems="AlignItems.Center">
            <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">
                Home
            </MudNavLink>
            <MudNavLink Href="counter" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Add">
                Counter
            </MudNavLink>
            <MudNavLink Href="weather" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Cloud">
                Weather
            </MudNavLink>
        </MudStack>
        <MudSpacer />
        <MudMenu AnchorOrigin="Origin.BottomRight">
            <ActivatorContent>
                <MudAvatar Variant="Variant.Outlined">CH</MudAvatar>
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem Icon="@Icons.Material.Filled.Settings">Settings</MudMenuItem>
                <MudMenuItem Icon="@Icons.Material.Filled.Logout">Logout</MudMenuItem>
            </ChildContent>
        </MudMenu>
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-2 pt-2">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
